@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  background-color: #E8E6E2;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

a, li, h1, h2, p {
  text-decoration: none;
  margin: 0;
  padding: 0;
  z-index: 9999;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 3rem;
}

header {
  background-color: #2E303B;
}

header .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 3rem;
}

header .logo {
  color: #C98655;
  font-weight: bold;
  font-size: 1.5rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.lists {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #C98655;
  min-width: 30rem;
}

.lists .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lists .add-list-cta {
  overflow: hidden;
  background-color: #2E303B;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
  padding-left: .5rem;
  margin-bottom: 3rem;
}

.lists .add-list-cta input {
  width: 80%;
  background-color: #2E303B;
  border: none;
  outline: none;
  color: #E8E6E2;
}

.lists .add-list-cta button {
  background-color: rgba(232, 230, 226, 0.2);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  color: #AA9CA0;
}

.lists .add-list-cta button:hover {
  background-color: rgba(232, 230, 226, 0.15);
}

.lists .subhead {
  font-size: 1.15rem;
  margin-bottom: .8rem;
}

.lists .lists-cta {
  position: relative;
}

.lists .lists-cta .lists-cta__sidebar {
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #2E303B;
  top: -0.4rem;
  left: .5rem;
  padding: .4rem 0;
}

.lists .lists-cta p {
  font-size: 1.2rem;
  padding-left: 1.5rem;
  margin-bottom: .5rem;
  cursor: pointer;
}

.lists .lists-cta .selected {
  font-weight: bold;
}

.tasks {
  overflow-y: scroll;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  height: 95%;
}

.tasks .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5rem;
  padding-right: 5rem;
}

.tasks .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.tasks .top p {
  color: #2E303B;
  font-size: 2rem;
}

.tasks .task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #C98655;
  border-radius: 8px;
  padding: .5rem 1rem;
  margin-bottom: .5rem;
}

.tasks .task .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks .task .left p {
  font-size: 1.5rem;
  color: #2E303B;
}

.tasks .task .left input {
  height: 2rem;
  width: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 4px;
  outline: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #E8E6E2;
  cursor: pointer;
  margin-right: 1rem;
}

.tasks .task .left input:checked {
  background-color: #2E303B;
}

.tasks .task .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks .task .right img {
  height: 80%;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */